// algolia search
.index-search {
  padding: 0;
  .navbar {
    margin-bottom: 0;
  }
}

#ais-pagination-container {
  margin: 10px 0;
  text-align: center;
}

.search-container {
  padding: 2.4rem 2rem 2rem 2rem;
  margin-bottom: 3rem;
  background-color: #f4f5f7;
  border-bottom: 1px solid darken(#f4f5f7, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .02);
}

#ais-input-container {
  margin-top: 1rem;
}

.ais-pagination {
  margin: 0;
  padding: 0;
}

.ais-pagination--item {
  margin: 0 .2rem;
}

.ais-pagination--item__disabled {
  @media screen and (max-width: $screen-lg-min) {
    display: none;
  }
}

.ais-pagination--link {
  display: inline-block;
  padding: 3px 7px;
  margin: 0;
  font-size: 14px;
  color: #76899a;
  text-decoration: none;
  background: #fff;
  border: 2px solid #d3d9dd;
  border-radius: 5px;

  .ais-pagination--item__active & {
    font-weight: bold;
    color: #76899a;
    text-decoration: none;
    border-color: #f2f4f5;
    &:hover {
      border-color: #f2f4f5;
    }
  }

  &:hover {
    color: #76899a;
    text-decoration: none;
    border-color: #b9c1c8;
  }
}

#ais-results-container .algolia-docsearch-suggestion--highlight {
  background-color: rgba(89, 165, 234, .2);
}

.ais-content {
  color: #63676d;
}

.ais-lvl0 {
  font-size: 1.1em;
  color: #57626c;
}

#ais-input-container input {
  width: 100%;
  padding: 8px 16px;
  border: solid 1px #d1d6dc;
  border-radius: 3px;
  box-shadow: none;
}

.ais-result {
  max-width: 90rem;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: solid 1px #d1d6dc;
  transition: cubic-bezier(.4, 0, 1, 1) .18s;
  @media screen and (max-width: $screen-lg-min) {
    max-width: 100%;
  }
  &:hover {
    background-color: rgba(221,221,221,.15);
    border-color: #54a9f9;
  }
   > a {
    &:hover {
      text-decoration: none;
    }
  }
}
input:focus {
  outline: none;
}
