//
// Global
// --------------------------------------------------

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 70px;
}

.max-width {
  max-width: 1400px;
}
