//
// Miscellaneous
// --------------------------------------------------

// API callouts
.api-docs-callouts {
  padding-top: rem(4);
  h2 {
    font-size: rem(20);
    font-weight: 700;
    margin-top: rem(12);
    margin-bottom: rem(24);
  }
  .list-group,
  .list-group-item {
    border-color: $light-grey-border;
  }
}

// Lists override
ul, ol {
  padding-left: 16px;
  ul, ol {
    padding-left: 40px;
  }
}
ol {
  padding-left: 12px;
  li {
    // We generally use this to shift the numbered list items over a little bit to align with left of content box
    margin-left: 0.375em;
    &:nth-child(n+10) {
      // More than 10 items use this
      margin-left: 1em;
    }
    &:nth-child(n+100) {
      // More than 100(!) items use this
      margin-left: 1.5em;
    }
  }
}

// Tabbed markdown
.tab-content.tab-doc {
  pre {
    border: 0 none;
    box-shadow: none;
    padding-top: 1.6rem;
    padding: 1.4rem;
  }
}

// Sidebar aside
.aside {
  background-color: #F4F5F7;
  border-radius: 3px;
  padding: 14px 20px;
  @extend .clearfix;
  .aside-header {
    border-bottom: 1px solid #dadee3;
    margin-bottom: rem(8);
  }
}

// Affixed sidebars
.affix {
  position: static;
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
  }
}

// Open Source Icons
.icon-os-ruby {
  background-image: url(/img/icon-os-ruby.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 16px;
}

// Open Source Icons
.icon-os-go {
  background-image: url(/img/icon-os-go.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}

// Open Source Icons
.icon-os-js {
  background-image: url(/img/icon-os-js.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}

// Open Source Icons
.icon-os-clojure {
  background-image: url(/img/icon-os-clojure.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.capitilize {
  text-transform: capitalize;
}

// Drodown Theme

.dropdown-menu > li > {
  a {
    color: $link-color;
    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}
