//
// Page Header
// --------------------------------------------------

 .page-header {
  border-bottom: 1px solid $jumbotron-bottom-border;
  margin-top: 0 !important;
  margin-bottom: rem(24);
  padding: 0;
  h1 {
    margin-bottom: rem(10);
    margin-top: rem(2);
  }
  .page-header-btn {
    margin-top: 8px;
    @extend .btn;
    @extend .btn-primary;
    @extend .pull-right;
  }
}
