//
// Search
// --------------------------------------------------

// Search widget
.swiftype-widget {
  .autocomplete ul {
    border-radius: 0 0 3px 3px !important;
    li:first-child {
      border-radius: 0;
    }
  }
  .autocomplete ul li.active {
    p.title {
      color: $blue;
    }
    &.active {
      color: #fff;
      background-color: $navbar-default-bg;
      background-image: none;
      border-color: $navbar-default-border;
      box-shadow: none;
      p.title {
        color: #fff;
      }
    }
  }
}

// Search modal
.st-modal-scrollable {
  .st-modal {
    @media screen and (max-width: $screen-md) {
      position: absolute;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 25px;
      margin: 0;
    }
  }
  .st-result-listing {
    .st-results .st-result-text h1,
    .st-results .st-result-text h2,
    .st-results .st-result-text h3,
    .st-results .st-result-text .st-metadata {
      font-family: $font-family-sans-serif;
    }
  }
}

// Google search nav input wrapper
.navbar {
  .gsc-control-wrapper-cse {
    .gsc-search-box {
      input.gsc-input {
        padding-left: 24px !important; // override default padding
      }
      .gsc-input {
        font-family: $helvetica;
        font-size: 13px;
        text-indent: 0 !important;
        background-image: url(/img/icon-search.svg) !important; // override inline image
        background-repeat: no-repeat !important; // override default
        background-position: 7px 7px;
        .gsc-input-box {
          .gsib_a {
            padding-top: 6px;
            padding-bottom: 4px;
          }
          .gsst_b {
            margin-top: 3px;
          }
          .gsst_a .gscb_a {
            color: #0a83f6 !important; // override inline color
            cursor: pointer;
          }
        }
      }
      .gsc-search-button {
        display: none; // hide search button
      }
    }
  }
  .gsc-control-cse {
    float: left;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 6px;
    font-family: inherit;
    background-color: transparent;
    border: 0;
    @media screen and (max-width: $screen-md) {
      width: 204px;
    }
  }
  .gsc-input-box {
    height: 30px;
    border: 0;
    border-radius: 2px;
  }
}

// Google search autocomplete wrapper
.gsc-completion-container {
  .gssb_a {
    .gsq_a {
      font-family: $helvetica;
      font-size: 13px;
      font-weight: normal;
      color: $headings-color;
      b {
        font-weight: bold;
      }
    }
  }
}
