//
// Topbar
// --------------------------------------------------

.navbar-default {
  box-shadow: 0 1px 2px rgba(0,0,0,0.02);
  font-size: rem(13);
  .navbar-brand {
    padding: rem(17) rem(17);
  }
  .navbar-brand>img {
    max-width: 100px;
  }
  .navbar-nav>li>a {
    @include transition(background-color 100ms);
  }
  .nav-status {
    @media (min-width: $screen-sm) {
      border-right: 1px solid rgba(0,0,0,0.2);
    }
  }
  form[role="search"] {
    @media screen and (max-width: $screen-md) {
      padding: 0;
    }
    @media screen and (max-width: $screen-sm) {
      padding: 10px 15px;
      display: none; // hide algolia search
    }
    input[type="text"] {
      background-image: url(/img/icon-search.svg);
      background-position: 7px 7px;
      background-repeat: no-repeat;
      border: 0 none;
      margin-right: rem(4);
      margin-top: rem(2);
      padding-left: rem(27);
      position: relative;
      @media screen and (max-width: $screen-md) {
        width: 100%;
      }
      @media screen and (min-width: $screen-md) {
        width: 300px;
      }
      @media screen and (min-width: $screen-lg) {
        width: 354px;
      }
      &:hover,
      &:focus {
        box-shadow: none;
        outline: 0 !important;
        -webkit-appearance: none;
      }
    }
  }
  .nav-al-search {
    display: none;
    @media screen and (max-width: $screen-sm) {
      display: block;
    }
  }
}
