---
title: Cloud Management
lead: Cloud Management offers operations and system administrators access to cloud environments to provision, configure, manage and govern cloud resources including compute, network and storage components.
layout: cm_landing_page
hero: self-service
description: RightScale Cloud Management offers operations and system administrators access to cloud environments to provision, configure, manage, and govern cloud resources.
---

p This site contains all the relevant documentation for working with Cloud Management. Cloud Management allows you to provision, manage and operate on cloud resources across compute, network and storage.

p Use the navigation on the left to learn more about the various aspects of Cloud Management.
