---
title: Self-Service Docs
lead: RightScale Self-Service provides a system in which you can create user-focused Cloud Applications consisting of any combination of cloud resources.
layout: ss_landing_page
hero: self-service
description: Self-Service enables you to deploy and manage your own cloud applications, and set automated shutdown schedules to optimize spend in RightScale.
---

p This site contains all the relevant documentation for managing Self-Service accounts, designing Cloud Applications, and using the Self-Service API and UI. Self-Service provides an easy-to-use Catalog of applications that can be launched by users in your organization with the limits and constraints that you've designed into the applications. It presents complex cloud applications in a simple way so that any user can get what they need from cloud based resources.

p Use the navigation on the left to learn more about the various aspects of Self-Service.
