//
// Open Source Page
// --------------------------------------------------

.open-source_index {
  padding-top: 0;
  .navbar-static-top {
    margin-bottom: 0;
  }
  .jumbotron {
    padding: 3.0rem 0 2.8rem;
  }
  .projects-list {
    @extend .list-group-item;
    padding: 1.4rem 2.0rem;
  }
  .project-meta,
  .project-description {
    @extend .clearfix;
  }

  .project-title {
    @extend .pull-left;
    font-weight: 700;
  }
  .project-link {
    @extend .pull-right;
  }
  .project-description {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.open-source_index {
  .open-source-feature {
    @extend .clearfix;
    background-color: $heading;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-bottom: 3rem;
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.715, -0.265, 0.245, 1.345);

    &:hover {
      transform: scale(1.08);
    }

    h2 {
      color: #fff;
      margin: 0 0 0.4rem 0;
    }

    h4 {
      border-bottom: 0 none;
      color: #fff;
      line-height: 1rem;
      margin: 1rem 0;
      padding: 0;
      text-decoration: none;
    }

    p {
      opacity: 0.8;
    }

    .label-featured {
      @extend .label-default;
      background-color: rgba(#fff, 0.3);
      left: 16px;
      position: absolute;
      top: 16px;
    }

    &.theme-purple {
      background-color: shade(#653696, 1);
      &:after {
        background-image: url(/img/geo-bg-1.png);
        background-size: cover;
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    &.theme-orange {
      background-color: shade(#FA9900, 1);
      position: relative;
      &:after {
        background-image: url(/img/geo-bg-1.png);
        background-size: cover;
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        opacity: 0.5;
        width: 100%;
      }
    }

    &.theme-green {
      background-color: shade(#80C11A, 1);
      position: relative;
      &:after {
        background-image: url(/img/geo-bg-1.png);
        background-size: cover;
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        opacity: 0.5;
        width: 100%;
      }
    }

    &.theme-github,
    &.theme-eng {
      &:hover {
        transform: scale(1);
      }
      .icon {
        background-color: $light-grey-border;
        border-radius: 3px;
        display: block;
        height: 64px;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 64px;
      }
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid $grey-border;
      h4 {
        font-weight: bold;
        color: $heading;
      }
      p {
        color: $text;
      }
    }
    &.theme-github {
      .icon {
        background-color: #333;
        background-image: url(/img/icon-github.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px;
      }
    }
    &.theme-eng {
      .icon {
        background-color: #695cb2;
        background-image: url(/img/icon-wrench.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px;
      }
    }
  }
}
