//
// Color Variables
// --------------------------------------------------

// Brand Colors
$green: #80C11A;
$blue: #0A83F6;
$red: #c32525;
$purple: #7355a6;
$orange: #f7a626;
$pink: #C45887;
$turquoise: #4FBBCD;
$saffron: #FFC12E;

// Button Colors
$green-button: #5fb000;
$blue-button: #0871d4;
$red-button: #c32525;
$grey-button: #e7e7e7;

// Text Colors
$link: #0A83F6;
$text: #76899A;
$heading: #57626C;

// Section Colors
$left-background: #353b41;
$body: #F4F5F7;

// Border Colors
$grey-border: #D1D6DC;
$light-grey-border: lighten($grey-border,6%);

// Icon Colors
$grey-icon: #8596A5;
$grey-icon-highlight: #A2AFBA;
$blue-icon: #2390F7;
$blue-icon-highlight: #54A9F9;
$green-icon: #80C11A;

// Highlight Colors
$hover-highlight: #fafafa;

// BS Colors
$gray-base:              #0b0d0e;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         $blue-button;
$brand-success:         $green-button;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
