---
title: Platform Docs
lead: The Platform section contains information that pertains to the RightScale platform as a whole and transcends individual product offerings.
layout: platform_landing_page
hero: platform
description: Contains relevant documentation for RightScale's platform and covers aspects of our infrastructure that span products or services offered by RightScale.
---

.row
  .col-sm-10
    p This site contains all the relevant documentation for RightScale's platform, which covers aspects of our infrastructure that spans products or services offered by RightScale. General information on standards and technologies used at RightScale, such as SAML, are also provided here.

    p Use the navigation menu on the left to learn more about the various aspects of RightScale's Platform and access guides for working/integrating with the Platform.
