---
title: Flexera CMP Docs
layout: index
hero_title: Welcome to Flexera CMP Docs
hero_lead: Manage and govern applications and optimize costs across public, private, and hybrid clouds.
description: Welcome to the main documentation site for RightScale. All product categories are covered here including Cloud Management, Optima, and Self-Service.
---

= partial "partials/quick-links"

section.row-grid

  .column-card
    .card-heading
      a href="/optima"
        | Optima
    .card-content
      ul
        li
          a href="/optima"
            | About
        li
          a href="/optima/getting_started"
            | Getting Started
        li
          a href="/ca/ca_about_billing_centers.html"
            | Billing Centers
        li
          a href="/optima/guides/dashboard.html"
            | Dashboards
        li
          a href="/optima/guides/common_bill_ingestion.html"
            | Common Bill Ingestion (CBI)
        li
          a href="/optima/guides/automated_optimization.html"
            | Automated Optimization
        li
          a href="/optima/guides/reserved_instances.html"
            | Reserved Instances
        li
          a href="/optima/guides"
            | Guides
        li
          a href="/optima/reference"
            | Reference

  .column-card
    .card-heading
      a href="/policies"
        | Automated Governance with Policies
    .card-content
      ul
        li
          a href="/policies/about.html"
            | General information
        li
          a href="/policies/users/getting_started/"
            | Getting started
        li
          a href="/policies/users/policy_list.html"
            | Pre-built Flexera policies
        li
          a href="/policies/developers"
            | Policy developers guide
        li
          a href="/policies/users/faq"
            | FAQ

  .column-card
    .card-heading
      a href="/ss"
        | Self-Service
    .card-content
      ul
        li
          a href="/ss/about.html"
            | About
        li
          a href="/ss/getting_started"
            | Getting Started
        li
          a href="/ss/guides"
            | Guides
        li
          a href="/ss/reference"
            | Reference
        li
          a href="/release-notes/self-service.html"
            | Releases

section.column-grid

  .column-card
    .card-heading
      a href="/gov"
        | Governance
    .card-content
      ul
        li
          a href="/gov/about.html"
            | About
        li
          a href="/gov/getting_started/"
            | Getting Started
        li
          a href="/gov/reference/"
            | Reference
        li
          a href="/release-notes/governance.html"
            | Releases
        li
          a href="/gov/faq"
            | FAQ

  .column-card
    .card-heading
      a href="/rcav"
        | RightScale Cloud Appliance for vSphere (RCA-V)
    .card-content
      ul
        li
          a href="/rcav/about.html"
            | About
        li
          a href="/rcav/v3.0/index.html"
            | RCA-V Version 3.0

  .column-card
    .card-heading
      a href="/platform"
        | Platform
    .card-content
      ul
        li
          a href="/platform/guides"
            | Guides
        li
          a href="/platform/saml.html"
            | SAML
        li
          a href="/security/index.html"
            | Security
        li
          a href="/configuration-management-tool-integration/index.html"
            | Configuration Management Integration
        li
          a href="/servicenow/index.html"
            | ServiceNow Integration
        li
          a href="/platform/open-source-ack/index.html"
            | Open Source License Acknowledgement

  .column-card
    .card-heading
      a href="/cm"
        | Cloud Management
    .card-content
      ul
        li
          a href="/cm/about.html"
            | About
        li
          a href="/cm/rs101/index.html"
            | Terminology and Concepts
        li
          a href="/cm/dashboard/index.html"
            | Dashboard User's Guide
        li
          a href="/cm/administrators_guide/index.html"
            | Administrator's Guide
        li
          a href="/cm/ref/index.html"
            | Reference
        li
          a href="/release-notes/cloud-management.html"
            | Releases


  .column-card
    .card-heading
      a href="/faq"
        | FAQs
    .card-content
      ul
        li
          a href="/faq/CVE-2015-7547_Information_on_glibc_Vulnerability.html"
            | How do I mitigate the security impacts from the CVE-2015-7547 Vulnerability?
        li
          a href="/faq/How_do_I_Set_Up_IP_Whitelisting_for_Self-Service.html"
            | How do I set up IP Whitelisting for Self-Service?
        li
          a href="/faq/Using_ssh_prot_win_chrome.html"
            | Using ssh:// Protocol Links with Chrome on Windows
        li
          a href="/faq/end_of_life_end_of_service.html"
            | RightScale End of Support and End of Life Schedule
        li
          a href="/faq/Firewall_Configuration_Ruleset.html"
            | RightScale Firewall Configuration Ruleset
        li
          a href="/faq/Enable_Single_Sign-On_with_OpenID.html"
            | Enable Single Sign-On with OpenID
        li
          a href="/faq/Which_browsers_are_supported_by_the_RightScale_Dashboard.html"
            | Which browsers are supported by the RightScale Dashboard?

  .column-card
    .card-heading
      a href="/rl10/"
        | RightLink
    .card-content
      ul
        li
          a href="/rl10/about.html"
            | About
        li
          a href="/rl10/"
            | RightLink 10



  .column-card
    .card-heading
      a href="/clouds"
        | Supported Clouds

    .card-content
      ul
        li
          a href="/clouds/aws/aws_about.html"
            | Amazon Web Services
        li
          a href="/clouds/google"
            | Google Cloud Platform
        li
          a href="/clouds/azure/azure_about.html"
            | Microsoft Azure (Classic)
        li
          a href="/clouds/azure_resource_manager/"
            | Microsoft Azure Resource Manager
        li
          a href="/clouds/openstack/openstack_about.html"
            | OpenStack
        li
          a href="/clouds/softlayer/softlayer_about.html"
            | IBM SoftLayer
        li
          a href="/clouds/vmware/vmware_about.html"
            | VMware vSphere

  .column-card
    .card-heading
      a href="/st/index.html"
        | ServerTemplates

    .card-content
      ul
        li
          a href="/st/about.html"
            | About
        li
          a href="/st/rl10/index.html"
            | Version RL10
        li
          a href="/st/open-source/index.html"
            | Open Source
