---
title: ServerTemplates
lead: RightScale ServerTemplates help you create modular and easily reproducible servers in the cloud.
layout: st_landing_page
hero: self-service
description: ServerTemplates are one of the key concepts of the RightScale Dashboard. RightScale regularly publishes ServerTemplates for commonly used web applications.
---

p This site contains all the relevant documentation for working with RightScale ServerTemplates. ServerTemplates allow you to pre-configure servers by starting from a base image and adding scripts that run during the boot, operational, and shutdown phases. A ServerTemplate is a description of how a new instance will be configured when it is provisioned by your cloud provider.

p Use the navigation on the left to learn more about the various aspects of ServerTemplates.
